* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.element {
  display: inline-block;
  border: 1px solid black;
  width: 12rem;
}

.colorBox {
  height: 12rem;
  display: grid;
  justify-content: center;
  align-items: center;
}

.colorInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: inline-block;
}

label {
  display: none;
  position: static;
}
